<div class="masthead">
  <h3 class="text-muted">Hawai Mithai</h3>
  <nav>
    <ul class="nav nav-justified">
      <li class="<%= request.fullpath == '/' ? 'active' : ''  %>"><a href="<%= root_path %>">Home</a></li>
      <li class="<%= request.fullpath == '/order_status' ? 'active' : ''  %>"><a href="/order_status">Check Order Status</a></li>
      <li class="<%= request.fullpath == '/how_to_order' ? 'active' : ''  %>"><a href="/how_to_order">How to order</a></li>
      <li class="<%= request.fullpath == '/contact' ? 'active' : ''  %>"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>