<!-- Example row of columns -->
<div class="row" style="margin-top: 20px;">
  <% @products.each do |product| %>
      <div class="col-lg-4">
        <p><%= image_tag(product.image.url(:list)) %></p>
        <h2><%= product.name if product.name.present? %></h2>
        <p><%= to_bdt product.price if product.price.present? %></p>
        <% product_description = raw(product.description) %>
        <p><%= truncate(product_description, length: 150, separator: '..') if product.description.present? %></p>
        <p><a class="btn btn-success btn-xs" href="<%= product_path(product.id) %>">Order Here &raquo;</a></p>
      </div>
  <% end %>
</div>
